* {
    box-sizing: border-box;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica;
}
html{
  background:   whitesmoke;
}
body{
    margin:0;
    padding:0;
  }
img{
  object-fit: cover;
}
  #logo {
      width: 300px;
      filter: invert(1);
      padding-top: 40px;
  }
  #header {
      background: #2c2c2c;
      min-width: 100%;
      margin-bottom: 10px;
  }
.izvelne{
        max-width: 1220px;
        height: 200px;
        padding: 10px 20px;
        color:white;
        position: relative;
        margin: 0 auto;
    }
  .main_menu {
      padding-left: 10px;
      position: absolute;
      bottom: 0;
  }
  .main_menu_item {
      display: inline;
      font-size: 18px;
      padding-left: 12px;
      border-left: 2px solid #ffffff;
      margin-right: 10px;
  }
.main_menu_item:nth-child(1) {
    padding-left: 0;
    border-left: 0;
}
ul {
    padding: 10px 0;
    margin: 0;
}
.saturs {
      width: 1220px;
      height: 900px;
      margin: 0 auto;
  }
.sleja{
  max-width: 890px;
  padding-right: 30px;
  padding:1px;
  margin:1px;
  float:left;
}
.raksts{
  padding:1px;
  margin:1px;
}
.sidebar{
  width:300px;
  padding:1px;
  margin:1px;
  float:right;
}
.raksta_virsraksts{
  width:100%;
  padding:1px;
  margin:1px;
}
.raksta_saturs {
    width: 70%;
    padding-right: 3%;
    float: left;
}
.raksta_sidebar {
    float: right;
    width: 30%;
    padding: 1px;
}
#coverimage{
  height:200px;
  width: 100%;
  object-fit: cover;
}
@media only screen and (max-width: 1013px) {}
@media only screen and (max-width: 700px) {}
