* {
    box-sizing: border-box;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica;
    object-fit: cover;
}
html{background: whitesmoke;;}
body{
  max-width: 1220px;
  margin: 0 auto;
  }
#header{
      background: #2c2c2c;
  }
  .izvelne{
        max-width: 1180px;
        height: 152px;
        padding: 10px 20px 0 20px;
        color:white;
        position: relative;
    }
  .main_menu {
      padding-left: 10px;
      position: absolute;
      bottom: 0;
  }
.main_menu_item {
    display: inline;
    font-size: 18px;
    padding-left: 7px;
    border-left: 1px solid #ffffff;
    margin-right: 3px;
}
.main_menu_item:nth-child(1){
    padding-left: 5px;
    border-left: 0;
}
ul
  {
    padding: 10px;
    margin: 0;
}
.saturs {
      width: 1220px;
      height: 900px;
      margin: 0 auto;
  }
.sleja{
  max-width: 890px;
  padding-right: 30px;
  border:1px solid grey;
  padding:1px;
  margin:1px;
  float:left;
}
.raksts{
  border:1px solid grey;
  padding:1px;
  margin:1px;
}
.sidebar{
  width:300px;
  border:1px solid grey;
  padding:1px;
  margin:1px;
  float:right;
}
.Raksta_virsraksts{
  width:100%;
  border:1px solid grey;
  padding:1px;
  margin:1px;
}
.raksta_saturs{
  width: 60%;
  padding-right:10%;
  float:left;
}
.raksta_sidebar{
  float:right;
  width: 30%;
  border:1px solid grey;
  padding:1px;
  margin:1px;
}
@media only screen and (max-width: 1013px) {}
@media only screen and (max-width: 700px) {}
