* {
    box-sizing: border-box;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica;
    margin:0;
    padding:0;
}
html{
  background:   whitesmoke;
}
img{
  object-fit: cover;
}
h1{
    font-size: 35px;
    font-weight: 400;
    padding: 10px 0;
}
h2 {
    font-size: 20px;
    font-weight: 300;
    padding: 5px;
}
p{
    padding: 10px 0;
}
  #logo {
      width: 300px;
      filter: invert(1);
      padding-top: 40px;
  }
  #header {
      background: #2c2c2c;
      min-width: 100%;
      margin-bottom: 10px;
  }
.izvelne{
        max-width: 1220px;
        height: 200px;
        padding: 10px 20px;
        color:white;
        position: relative;
        margin: 0 auto;
    }
  .main_menu {
      padding-left: 10px;
      position: absolute;
      bottom: 0;
  }
  .main_menu_item {
      display: inline;
      font-size: 18px;
      padding-left: 12px;
      border-left: 2px solid #ffffff;
      margin-right: 10px;
  }
.main_menu_item:nth-child(1) {
    padding-left: 0;
    border-left: 0;
}
ul {
    padding: 10px 0;
    margin: 0;
}
.saturs {
    width: 1220px;
    height: 900px;
    margin: 0 auto;
    position: relative;
}
.sleja{
  max-width: 890px;
  padding-right: 30px;
  padding:1px;
  margin:1px;
  float:left;
}
.raksts {
    padding: 1px;
}
#small-virsraksts{
  font-size:13px;
}
.sidebar {
    position: relative;
    margin: 1px;
    float: left;
    padding-left: 30px;
    width: 300px;
}
.raksta_virsraksts {
    padding-bottom: 10px;
    border-bottom: 1px solid #2c2c2c;
    margin-bottom: 10px;
}
.raksta_saturs {
    width: 70%;
    padding-right: 3%;
    float: left;
}
.raksta_sidebar {
    float: right;
    width: 30%;
    padding: 1px;
}
.produkts {
    width: 33.3%;
    float: left;
    padding: 5px;
    margin: auto 0;
    text-align: center;
}
.poga{
  background:#2c2c2c;
  color:white;
  padding: 2px 5px;
  margin:10px;
  width: 80%;
  font-weight: 300;
}
.poga:hover{
  background:white;
  color: #2c2c2c;
  outline:1px solid grey;
}
.vērtība{font-size: 25px;
}
.reklama-side{
  position: absolute;
  top: 0;
}
#topic{
    background: black;
    color: white;
    margin: 0 10px 0 0;
    padding: 2px 4px;
}
#date{
  padding:5px;
}
#autor{
  padding:4px;
  font-weight: 500;
}
@media only screen and (max-width: 1013px) {}
@media only screen and (max-width: 700px) {}
